name: Run Unit Tests & Lint

on:
  push:
    branches: ["*"]
  pull_request:
    branches: ["main"]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.13"
          
      - name: Install poetry
        run: pip install poetry
      
      - name: Install Dependencies
        run: poetry install --with dev
        working-directory: python-backend  

      - name: Black Formatter
        run: poetry run black . --check
        working-directory: python-backend  

      - name: Static Code Analysis
        run: poetry run pylint src
        working-directory: python-backend 
        
      - name: Run UnitTests
        run: poetry run pytest
        working-directory: python-backend 
