name: Run Java Unit Tests

on:
  push:
    branches: 
      - "**"
  pull_request:
    branches: 
      - "**"

jobs:
  test-java:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Check test resources
        run: ls -R src/java-backend/src/test/resources || echo "Test resources missing"

      - name: Run Maven Tests (profile test)
        working-directory: ./src/java-backend
        run: mvn -B -q test -Dspring.profiles.active=test

      - name: Reduce Spring logging noise
        run: echo "logging.level.root=WARN" >> src/java-backend/src/test/resources/application-test.properties
