name: Java Backend Tests

on:
  push:
    branches: 
      - "**"
  pull_request:
    branches: 
      - "**"

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "17"

      - name: Move into java-backend directory
        working-directory: ./src/java-backend
        run: ls -la

      - name: Cache Maven packages
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('src/java-backend/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-m2-

      - name: Run Tests
        working-directory: ./src/java-backend
        run: mvn test -Dspring.profiles.active=test 